:root {
  --surface-color: #fff;
  --curve: 40;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
  margin: 1rem 0;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  border-bottom: 1px solid gray;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  height: 400px;
  min-width: 250px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0,0.5);
}

.card__image {
  width: 100%;
  height: 100%;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 1em;
  font-weight: bold;
  color: #d0021c;
  text-align: center;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.arrow_right {
  animation: moveRight 1s linear infinite;
}
@keyframes moveRight {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}


/* new product & slider */
button.snip0040 {
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: #000000;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  /* margin: 15px 30px; */
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 500;
  font-size: 1em;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
button.snip0040 span {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.8;
}
button.snip0040 i {
  font-size: 22px;
  left: 15px;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.snip0040:before {
  content: '';
  top: 0;
  left: 0;
  width: 0;
  position: absolute;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
button.snip0040:hover span,
button.snip0040.hover span {
  -webkit-transform: translate3d(20px, 0px, 0px);
  transform: translate3d(20px, 0px, 0px);
  opacity: 1;
}
button.snip0040:hover i,
button.snip0040.hover i {
  opacity: 1;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
button.snip0040:hover:before,
button.snip0040.hover:before {
  width: 44px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.snip0040:active:before {
  background: rgba(255, 255, 255, 0.3);
}
button.snip0040.blue {
  background-color: #20638f;
}
button.snip0040.red {
  background-color: #962d22;
}
button.snip0040.yellow {
  background-color: #a85913;
}

.hover_card .card_img {
  transition: transform 300ms ease-in-out;
}

.hover_card:hover .card_img {
  transform: translateY(-10px);
}

.hover_card:not(:hover) .card_img {
  transform: translateY(0);
}


.custom-prev-button,
.custom-next-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
}

.custom-prev-button > svg,
.custom-next-button > svg {
  font-size: 40px;
  color: #fff;

  &:hover{
    color: gray;
  }
}

.custom-prev-button {
  left: 10px; 
}

.custom-next-button {
  right: 10px; 
}
li:has(.div_li_ca){
    width: 100% !important;
}